@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #121212;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

.text-box {
    background-color: transparent !important;
    border-radius: 5px;
    border: 0 !important;
    outline: none;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 4rem;
    font-weight: 600;
}
